@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 1rem;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
}

input,
select {
  outline: 2px solid transparent;
  outline-offset: 2px;
  border: 1px solid #e5e7eb;
  background-color: #f3f4f6;
  padding: 0.5rem 1rem;
  border-radius: 0.6rem;
}
input,
select::placeholder {
  color: #6b7280;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0 1px 1px #e5e7eb;
  padding: 1rem;
}
th,
td {
  padding: 1rem;
  text-align: center;
}
th {
  width: calc(100% / 9);
}
td {
  width: calc(100% / 9);
}
.long-space {
  word-break: break-word;
  white-space: normal;
  overflow: unset;
  width: 20%;
}
td {
  text-overflow: ellipsis;
  overflow: hidden;
}
thead,
tbody {
  display: table;
  width: 100%;
  table-layout: fixed;
}
tr {
  border-bottom: 1px solid #e5e7eb;
}
tbody {
  width: 100%;
  overflow-y: auto;
}
.actions {
  word-break: break-word;
  white-space: normal;
  overflow: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.actions button {
  word-break: break-word;
  white-space: normal;
  overflow: unset;
  display: block;
  padding: 0.25rem;
  border-radius: 50%;
  aspect-ratio: 4;
  white-space: wrap;
}

.paginate {
  display: flex;
  justify-content: space-between;
}
.paginate-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.paginate-button button {
  padding: 0.1rem 0.8rem;
  background-color: #fff;
  border: 1px solid #e5e7eb;
}
.paginate-button button:hover {
  color: #3b82f6;
}
.paginate-button .left {
  border-radius: 10px 0 0 10px;
}
.paginate-button .right {
  border-radius: 0 10px 10px 0;
}
